body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url('https://i.pinimg.com/originals/33/fe/8d/33fe8d7568ac9c3ba212774036169a19.jpg');
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

img {
  width: 70px;
  height: auto;
  background: transparent;
  padding-left: 3px;
}

.jumbotron {
  background-color: rgba(128, 128, 128, 0.433);
  min-height: 100vh;
  min-width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  width: 100px;
  height: 30px;
}

.navbar-nav .nav-link {
  padding-left: 30px;
}

.dropdown-item {
  padding-left: 5px;
}
